/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Variables */
:root{
    --main-color: #54b689;
    --main-text-color: #fff;
    --border-color: #999;
    --bio-background-color: #1E2A3A;
    --bio-border-color: #293544;
    --about-background-color: #111821;
}

/* General */
.highlight{
    color: var(--main-color);
}