/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Variables */
:root{
    --main-color: #54b689;
    --main-text-color: #fff;
    --border-color: #999;
    --bio-background-color: #1E2A3A;
    --bio-border-color: #293544;
    --about-background-color: #111821;
}

/* General */
.highlight{
    color: var(--main-color);
}

/* Containers */
#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
}

#about-container{
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-background-color);
    padding: 50px;
}

/* Bio Container*/

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-background-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color)
}

#bio-image {
    width: 225px;
    height: 225px;
    border-radius:50%;
    margin-bottom: 25px;
    margin-top: 25px;
}

#bio-container p {
    margin-bottom: 20px;
}

#bio-container #welcome-text {
    font-weight: bold;
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
}